/*changeMain css*/

.custom-card {
    border-radius: 300px 30px 30px 30px; /* 왼쪽 위를 더 크게 둥글게 */
}

.scroll-downs {
    position: absolute;
    bottom: 16px; /* 화면 하단에서 약간의 여백 */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 수평 중앙으로 이동 */
    width: 34px;
    height: 55px;
    z-index: 10;
    opacity: 1;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #FF6F61;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #FF7F50;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0; }
}

/* 기본 스타일 */
#login-button, #hospital-button {
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

#login-button i, #hospital-button i{
    color: #FF7F50;
}

/* 둥근 아이콘 상태 */
#login-button.rounded, #hospital-button.rounded {
    width: 70px;
    height: 70px;
    background-color: #FF7F50;
    border-color: #FF7F50;
    justify-content: center;
    align-items: center;
}

#login-button.rounded span, #hospital-button.rounded span {
    display: none; /* 둥근 상태에서 텍스트 숨김 */
}

#login-button.rounded i, #hospital-button.rounded i {
    font-size: 1.5em;
    color: white; /* 둥근 상태에서 아이콘 색상 */
}


.login-button {
    background-color: #7DAF82;
    color: #FFFFFF;
    transition: background-color 0.3s, transform 0.2s;
}

.login-button:hover {
    background-color: #5C8D6D;
    transform: translateY(-2px);
}

